<plex-title titulo="dar turno" size="md">
    <plex-button label="cambiar de agenda" size="sm" type="warning"></plex-button>
    <plex-button class="ml-2" icon="account-search" size="sm" type="info" routerLink="/busqueda-paciente">
    </plex-button>
</plex-title>

<section id="altaImplementacion" class="h-100 d-flex flex-column justify-content-between">
    <div *ngIf="valor === true" class="h-25" justify="center">
        <plex-label (eventoValor)="recibirValor($event)" size=" md" icon="information-variant" direction="column"
                    titulo="Comience seleccionando un paciente"
                    subtitulo="podrá visualizar sus datos y asignarle un turno">
        </plex-label>

    </div>

    <plex-detail *ngIf="pacientes$ | async as paciente">
        <img src="{{ paciente.foto }}" alt="">
        <div title>{{ paciente.nombre }} {{ paciente.apellido }}</div>
        <div subtitle>{{ paciente.documento }}</div>
        <plex-badge type="info">{{ paciente.sexo }}</plex-badge>
        <plex-badge type="info">{{ paciente.fechaNacimiento }}</plex-badge>
    </plex-detail>
    <form [formGroup]="organizacionForm" (ngSubmit)="onSubmit(organizacionForm)">

        <!-- Prestacion/Profesional -->
        <input type="hidden" (eventoProfesional)="recibirProfesional($event)" formControlName="profesionales"
               name="profesionales">

        <!-- Seleccion bloque -->
        <seleccion-bloque></seleccion-bloque>

        <hr class="w-100">
        <input type="hidden" formControlName="$key" name="$key">

        <plex-title titulo="información adicional" size="sm">
            <plex-button label="agregar nota" size="sm" type="info" (click)="mostrarNota()"></plex-button>
        </plex-title>

        <!-- Motivo de consulta -->
        <plex-text label="Motivo de consulta/diagnóstico" size="md" formControlName="motivo" name="motivo"
                   placeholder="Escriba el motivo por el cuál el paciente solicita el turno"></plex-text>

        <!-- Nota -->
        <plex-text *ngIf="valor === nota" label="Nota adicional" size="md" formControlName="nota" name="nota"
                   multiline="true" placeholder="Escriba alguna descripción o nota extra"></plex-text>

        <div>{{ organizacionForm.value | json }}</div>

        <!-- Seleccion horario -->
        <seleccion-horario>

        </seleccion-horario>
        <!--<input type="date" formControlName="fecha" name="fecha">-->
        <!--<plex-text id="capacitados" formControlName="capacitados" name="capacitados">-->
    </form>
    <div justify class="h-25">
        <plex-button type="danger" size="md" class="reset" (click)="resetForm(organizacionForm)">No dar turno
        </plex-button>
        <plex-button type="success" size="md" class="submit" (click)="onSubmit(organizacionForm)">Confirmar turno
        </plex-button>
    </div>
</section>