<plex-layout main="8">
    <plex-layout-main>
        <plex-title titulo="calendario de agendas">
            <plex-bool type="slide" [(ngModel)]="modelo.slide" label="Mostrar agendas sin turnos"></plex-bool>
            <plex-bool type="slide" [(ngModel)]="modelo.slide" label="Ocultar Sábados y Domingos"></plex-bool>
            <plex-button class="ml-2" icon="account-search" size="sm" type="info" (click)="goToBusqueda()">
            </plex-button>
            <plex-button class="ml-2" icon="turno-tilde" size="sm" type="success" routerLink="/dacion-turno">
            </plex-button>
        </plex-title>
        <plex-wrapper>
            <div class="w-25">
                <label>Test paciente</label>
                <select name="paciente" (click)="enviarProfesional()">
                    <option *ngFor="let paciente of pacientes$ | async" [ngValue]="paciente">
                        {{ paciente.nombre }}
                    </option>
                </select>
            </div>
            <plex-select [(ngModel)]="modelo1.select" placeholder="Ingrese..." label="Tipo prestación">
            </plex-select>
            <plex-select [(ngModel)]="modelo2.select" placeholder="Ingrese..." label="Equipo médico"></plex-select>
        </plex-wrapper>

        <!-- Calendario -->
        <calendario>

        </calendario>

    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <router-outlet></router-outlet>
    </plex-layout-sidebar>
</plex-layout>