<!-- select paciente: refactorizar a plex-text  -->
<plex-title titulo="búsqueda de paciente" size="sm"></plex-title>

<input class="w-100" type="text" [(ngModel)]="searchTerm" [ngModelOptions]=" {standalone: true}"
       placeholder="Buscar o filtrar pacientes" (keydown)="showPacientes()" />
<div *ngIf="valor === true" class="h-75" justify="center">
    <plex-label (eventoValor)="recibirValor($event)" size="lg" icon="information-variant" direction="column"
                titulo="Comience seleccionando un paciente" subtitulo="podrá visualizar sus datos y asignarle un turno">
    </plex-label>
</div>
<plex-list height="75%" *ngIf="valor === false">
    <plex-item *ngFor="let paciente of pacientes$ | async | pacientesFilter: searchTerm" (click)="selected(paciente)"
               [selected]="selectedId === paciente.id">
        <plex-badge type="info">{{ paciente.sexo }}</plex-badge>
        <plex-badge type="info">{{ paciente.fechaNacimiento }}</plex-badge>
        <plex-button type="success" size="sm" icon="turno-mas"></plex-button>
        <img src="{{ paciente.foto }}" alt="">

        <plex-label size="md" titulo="{{ paciente.nombre }} {{ paciente.apellido }}"
                    subtitulo="{{ paciente.documento }}"></plex-label>

        <plex-button type="warning" size="sm" icon="pencil"></plex-button>
        <plex-button type="info" size="sm" icon="information-variant"></plex-button>
        <plex-button type="danger" size="sm" icon="turno-menos"></plex-button>
    </plex-item>
</plex-list>