<plex-title titulo="búsqueda de paciente" size="sm"></plex-title>
<plex-text [(ngModel)]="templateModel2" placeholder="Busque un paciente"></plex-text>
<!--<section class="h-50 align-items-center" justify="center">
    <plex-label size="xl" titulo="Buscá y seleccioná un paciente" subtitulo="Podrás ver detalles del registro"
                icon="zoom" direction="column"></plex-label>
</section>-->

<!-- Listado resultados -->
<ng-container *ngFor="let agenda of agendas$ | async">
    <ng-container *ngFor="let bloque of agenda.bloques" type="info">
        <plex-list>
            <plex-item *ngFor="let turno of bloque.turnos">
                <img src="{{ turno.paciente.foto}}" alt="">
                <plex-label titulo="{{ turno.paciente.nombre }} {{ turno.paciente.apellido }}"
                            subtitulo="{{ turno.paciente.documento }}">
                </plex-label>
                <plex-label titulo="{{ turno.paciente.fechaNacimiento }}" subtitulo="{{ turno.paciente.alias }}">
                </plex-label>
                <plex-badge type="success" size="sm">validado</plex-badge>
                <plex-badge type="info" size="sm">{{ turno.paciente.sexo }}</plex-badge>
                <plex-button type="success" size="sm" title="dar turno" icon="turno-tilde-bold"
                             (click)="selected(agenda)"></plex-button>
                <plex-button type="info" size="sm" title="solicitudes" icon="import"></plex-button>
                <plex-button type="info" size="sm" title="activar app" icon="celular"></plex-button>
                <plex-button type="warning" size="sm" title="editar" icon="pencil"></plex-button>
            </plex-item>
        </plex-list>
    </ng-container>
</ng-container>
<plex-title titulo="Turnos frecuentes" size="sm"></plex-title>